{
	"URL":{
		"LOGIN":"LGN/html/MO0000.html",
		"MAIN" : ["LGN/html/MO0000.html"],
		"NOTICE" : "bizMOB/notice/html/notice.html"
	},
	"TITLEBAR" : {
		"TEXTCOLOR":"FFFF0000",
		"BACKGROUNDIMAGE" : "common/images/bg.png",
		"BACKGROUNDCOLOR" : "FF645353",
		"VISIBLE" : false,
		"HEIGHT" : 44,
		"TEXTSIZE" : 22		
	},
	"PROGRESS" : { 
  		"IMAGEPATH":""
	},
	"TOOLBAR" : {
		"BACKGROUNDIMAGE" : "common/images/bg_toolbar.png",
		"VISIBLE" : false
	},
	"CONTEXT" : {
		"BACKGROUNDCOLOR":"FF534334",
		"TEXTCOLOR" : "FFFFFFFF"
	},
	"WEBVIEW" : {
		"MAXIMUMCOUNT" : 8,
		"BACKGROUNDCOLOR" : {
								"NORMAL" : "FFFFFFFF",
								"DIALOG" : "DD000000"
							},
		"DIALOGOUTSIDECOLOR" : "AA000000"
	},
	"SIDEVIEW" :{
		"MODE" : "GLOBAL",
		"LEFT" : {
			"URL" : "SDV/html/SDV0003.html",
			"SIZE" : "100"
		},
		"RIGHT" : {
			"URL" : "SDV/html/SDV0003.html",
			"SIZE" : "80"
		},
		"BACKGROUNDVISIBLE" : true,
        "BACKGROUNDCOLOR" : "88000000"
	},
	"PUSH" : {
        "URL" : "http://218.55.79.35:5080/bizpush/v150/push",
        "PRODUCTID" : "894887807839"
	},"SECURITY" : {
 		 "ALLOWED_DOMAIN" : []
 	}
}