{
	"WIN/html/WIN0001.html" :
	{
		"TITLEBAR" : {
			"TEXTALIGN": "CENTER",
			"TITLETEXT": "모빌씨앤씨",
			"BACKGROUNDIMAGE": "common/images/bg.png",
			"BACKGROUNDCOLOR": "FF645353",
			"TEXTCOLOR": "FFFFFF45",
			"VISIBLE": true,
			"LEFT": [{
				"IMAGENAME": "common/images/btn_del.png",
				"CALLBACK": "page.left"
			}, {
				"IMAGENAME": "common/images/btn_del.png",
				"CALLBACK": "page.left"
			}],			
			"RIGHT": [{
				"IMAGENAME": "common/images/btn_del.png",
				"CALLBACK": "page.right"
			}, {
				"IMAGENAME": "common/images/btn_del.png",
				"CALLBACK": "page.right"
			}]
		}
	}	
}