{
	"DEFAULT_BAR" :
	{
		"bottom_toolbar" : 
		{
			"visible" : false,
			"background" : "common/images/bg_titlebar.png",
			"buttons" : ["{contents.0}","{contents.1}", "{contents.2}", "{contents.3}", "{contents.4}"]
		},
		"titlebar" : 
		{
			"visible" : true,
			"background" : "common/images/bg_titlebar.png",
			"title" : "{leftSide}",
			"left" : ["{leftSide.0}","{leftSide.1}"],
			"right" : ["{leftSide.0}","{leftSide.1}"]
		}
	},
	"MTLDEMO" :
	{	
		"inherit" : "DEFAULT_BAR",
		"callType" : "openPage",
		"url" : "MTL/html/TLA0001.html",
		"frames" : 
		{
			"leftSide" : 
			{
				"url" : "MTL/html/MTL0100.html"
			},
			"contents" : 
			{
				"url" : "MTL/html/MTL0200.html"
			} 
		}
	},
	"MTL0100" :
	{	
		"inherit" : "DEFAULT_BAR",
		"callType" : "openFrame",
		"url" : "MTL/html/TLA0001.html",
		"frames" : 
		{
			"leftSide" : 
			{
				"url" : "MTL/html/MTL0100.html"
			} 
		}
	},
	"MTL0200" :
	{	
		"inherit" : "DEFAULT_BAR",
		"callType" : "openFrame",
		"url" : "MTL/html/TLA0001.html",
		"frames" : 
		{
			"contents" : 
			{
				"url" : "MTL/html/MTL0200.html"
			}
		}
	},
	"MTL_NOTI_LEFT" :
	{			
		"callType" : "notifyFrame",		
		"target" : "leftSide"		
	},
	"MTL_NOTI_RIGHT" :
	{			
		"callType" : "notifyFrame",		
		"target" : "contents"		
	},
	"PAGE_MTL_{0}" :
	{		
		"callType" : "openPage",
		"url" : "MTL/html/MTL{0}.html"
	},
	"MA{0}" : 
	{
		"callType" : "openPage",
		"url" : "MA000/html/MA{0}.html"
	},
	"FW{0}" : 
	{
		"callType" : "openPage",
		"url" : "FW000/html/FW{0}.html"
	},
	"BD{0}" : 
	{
		"callType" : "openPage",
		"url" : "BD000/html/BD{0}.html"
	},
	"MS{0}" : 
	{
		"callType" : "openPage",
		"url" : "MS000/html/MS{0}.html"
	},
	"PI{0}" : 
	{
		"callType" : "openPage",
		"url" : "PI000/html/PI{0}.html"
	},
	"PL{0}" : 
	{
		"callType" : "openPage",
		"url" : "PL000/html/PL{0}.html"
	},	
	"CM{0}" : 
	{
		"callType" : "openPage",
		"url" : "CM000/html/CM{0}.html"
	}	
}