<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mcnc.bizmob.manageapp">

    <!--인터넷 관련 퍼미션-->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--전화 정보 관련 퍼미션-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" android:maxSdkVersion="29"/>
    <uses-permission android:name="android.permission.READ_PHONE_NUMBERS" />
    <!--전화 걸기 관련 퍼미션-->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!--저장소 읽고/쓰기 관련 퍼미션-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--네트워크 상태 정보 수신 관련 퍼미션-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <!--wifi상태 정보 수신 관련 퍼미션 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!--폰 계정 접근 관련 퍼미션-->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <!--GPS 관련 퍼미션-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <!--연락처 읽고 /쓰기 관련 퍼미션-->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <!--프로세스 강제 종료 관련 퍼미션-->
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <!--문자 송수신 관련 퍼미션-->
    <!--<uses-permission android:name="android.permission.RECEIVE_SMS" />-->
    <!--<uses-permission android:name="android.permission.SEND_SMS" />-->
    <!--화면 녹화 관련 퍼미션-->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!--현재 실행된 작업 목록 조회 관련 퍼미션-->
    <uses-permission android:name="android.permission.GET_TASKS" /> <!--android 5.0(API 21) 부터 deprecated 됨-->
    <!--지문인식 관련 퍼미션-->
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <!-- 메시지 받을 때 wake up 하기 위해 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- 8.0 이상 '출처를 알수 없는 앱, 구글 악성 앱 확인' 를 위한 권한 -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>
    
    <uses-permission android:name="${applicationId}.permission.C2D_MESSAGE" />
    <permission
        android:name="${applicationId}.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="com.google.android.c2dm.permission.send" />
    <application
        android:name="com.mcnc.bizmob.manage.Init"
        android:usesCleartextTraffic="true"
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:fullBackupOnly="false"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="${applicationLabel}"
        android:largeHeap="true"
        android:theme="@style/AppTheme"
        android:requestLegacyExternalStorage="true"
        tools:replace="android:label,android:icon,android:name,android:allowBackup,android:fullBackupOnly,android:fullBackupContent">

        <uses-library android:name="org.apache.http.legacy" android:required="false" />

        <!--Launcher Activity-->
        <activity
            android:name="com.mcnc.bizmob.manage.SlideFragmentActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize"
            android:label="${applicationLabel}"
            android:screenOrientation="portrait"
            android:exported="true"
            android:theme="@style/Theme.Translucent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 외부로 부터 Push나 Url Scheme을 통해 들어올때 처리하는 Activity-->
        <activity
            android:name="com.mcnc.bizmob.view.DummyActivity"
            android:exported="true"
            android:label="${applicationLabel}">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <action android:name="android.intent.action.VIEW" />
                <data android:scheme="bizmob.base" />
            </intent-filter>
        </activity>

        <!-- FCM notification click_action 처리 Activity-->
        <activity
            android:name="com.mcnc.bizmob.view.FcmControlActivity"
            android:exported="false"
            android:label="${applicationLabel}">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="OPEN_FCM_CONTROL_ACTIVITY" />
            </intent-filter>
        </activity>

        <!-- Qr and Barcode Reader 화면-->
        <activity
            android:name="com.mcnc.bizmob.view.barcode.CaptureActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize"
            android:screenOrientation="fullSensor"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            tools:replace="android:screenOrientation, android:theme" />

        <!-- Log file list Viewer Activity-->
        <activity
            android:name="com.mcnc.bizmob.view.log.LogViewerActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar" />

        <!-- File Browser Viewer Activity-->
        <activity
            android:name="com.mcnc.bizmob.view.filebrowser.FileBrowserActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar" />

        <!-- internal Browser Activity-->
        <activity
            android:name="com.mcnc.bizmob.view.internal.InternalBrowserActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.Light"/>


        <!-- custom Gallery Activity (Default Gallery View)-->
        <activity
            android:name="com.mcnc.bizmob.view.image.CustomGalleryActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.Light.NoTitleBar"/>

        <!-- local File Provider-->
        <provider
            android:name="com.mcnc.bizmob.core.provider.BMCLocalFileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false" />

        <!-- local File Provider-->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

        <!--FCM service tag-->
        <service android:name="com.mcnc.bizmob.fcm.BMFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <!--FCM 관련 정보-->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/notification_default_channel_id" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/noti_icon" />
        <service android:name="com.mcnc.bizmob.plugin.sample.MessageClass"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
                <action android:name="com.google.android.c2dm.intent.Recieve"/>
            </intent-filter>
        </service>
    </application>
</manifest>